.layout {
    display: inline-block;
    background: whitesmoke;
    padding: 10px 20px;
    margin: 0 30px 40px;
    border: 2px solid #2d79ab;
    transition: .3s;
    animation: fadein .7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.layout h3 {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .layout {
        margin: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        margin: 0 10px 40px;
        padding: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: auto 120px;
    min-height: 75vh;
    padding: 20px 10px;
}

.img {
    margin: auto;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border: 1px solid rgb(153, 152, 152);
}

.name {
    letter-spacing: .5px;
    font: 600 1.2rem Arial, sans-serif;
    color: #2d79ab;
    padding: 20px 0;
    padding-bottom: 2.3rem;
    font-style: normal;
}

.price, .worktime {
    font-weight: 200;
    color: #2d79ab;
    font-style: normal;
    font-size: 1.1rem;
}

.profileLink {
    transform: scale(0);
    margin-top: 10px;
    padding: 0;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid #2d79ab;
}

@media screen and (min-width: 900px) {
    .layout:hover {
        transform: translate(0, -3vh);
    }
    .profileLink:hover {
        background-color: #2d79ab;
        color: whitesmoke;
        transition: .3s;
    }
    .grid:hover .profileLink {
        transform: scale(1);
        padding: 5px;
        margin-top: 20px;
        transition: .3s;
    }
}

@media screen and (max-width: 900px) {
    .grid {
        max-height: 150vh;
    }
    .profileLink {
        transform: scale(1);
        margin-top: 25px;
        padding: 10px;
    }
}

@media screen and (min-width: 1500px) {
    .layout {
        margin: 0 60px 60px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .img {
        height: 40vh;
        width: auto;
    }
    .name, .price, .worktime, .profileLink {
        font-size: 2rem;
    }
}