.layout {
    display: inline-block;
    background: whitesmoke;
    padding: 10px 20px;
    margin: 0 20px 40px;
    border: 2px solid #2d79ab;
    transition: .3s;
}

.layout:hover {
    transform: translate(0, -10px);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.img {
    height: 60vh;
    width: auto;
    border: 1px solid rgb(153, 152, 152);
}

.name {
    letter-spacing: .5px;
    font: 600 1.2rem Arial, sans-serif;
    padding: 20px 0;
}