.container {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(48, 47, 47, 0.747);
    border: 2px solid #2d79ab;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.container h1, .container h3, .container img, .container h4, .container p {
    animation: fadein .7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container h3 {
    line-height: 50px;
}

.container p {
    text-indent: 0;
    margin: 25px 0;
}