.navbar {
    border-top: 1px solid #2d79ab;
    background-color: rgba(48, 47, 47, 0.747);
    margin-top: 40px;
}

@media screen and (max-width: 425px) {
    .navbar li {
        display: flex;
    }
}

.appName a {
    color: silver !important;
    font: 500 1.5rem Arial, sans-serif;
    font-style: italic;
}

.legalDisclaimer {
    color: silver;
    font: 200 .8rem Times, serif;
    padding-bottom: 0;
}

@media screen and (min-width: 1500px) {
    .appName a {
        font-size: 2rem;
    }
    .legalDisclaimer {
        font-size: 1.2rem;
    }
}