.appName a {
    color: black !important;
    font: 500 1.5rem Arial, sans-serif;
    font-style: italic;
}

.appName a:hover {
    text-decoration: none;
}

.legalDisclaimer {
    font: 200 .5rem Times, serif
}