.selectDiv {
    position: relative;
    margin-top: 10%;
    text-align: center;
}

.selectBar {
    margin: auto;
    border-radius: 0;
    padding: 80px;
    width: 80%;
    font: 200 2rem Helvetica, sans-serif;
    display: block;
    background: white;
    border: none;
    outline: 2px solid teal;
    height: 60px;
}

.selectOption {
    margin-top: 2%;
}

@keyframes selectShadow {
    from {
        box-shadow: none;
        width: 80%;
    }
    to {
        box-shadow: 0 5px 5px 2px rgb(148, 148, 148);
        width: 81%;
    }
}

.selectBar:hover {
    animation-name: selectShadow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.validationError {
    margin: auto;
    letter-spacing: 2px;
    font: 500 1.5rem Helvetica, sans-serif;
    padding: 40px 0;
    color: tomato;
    font-style: italic;
}