.selectDiv {
    position: relative;
    margin: 0;
    margin-top: 10%;
    text-align: center;
    flex: 1;
}

@keyframes selectShadow {
    from {
        box-shadow: none;
        width: 60%;
    }
    to {
        width: 61%;
    }
}

.selectBar:hover {
    animation: selectShadow 0.5s ease-in-out forwards;
}

.selectBar {
    margin: auto;
    border-radius: 0;
    padding: 0;
    width: 60%;
    font: 300 1.5rem Helvetica, sans-serif;
    display: block;
    background: whitesmoke;
    border: none;
    outline: 2px solid #2d79ab;
    height: 45px;
}

@media screen and (max-width: 425px) {
    .selectBar {
        font-size: 1.2rem
    }
}