.container {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(48, 47, 47, 0.747);
    border: 2px solid #2d79ab;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    min-width: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .backButton, .profileName, .profileOccupation, .profileOccupation, .profileRate, .profileTime {
        margin: auto;
    }
    .profileOccupation {
        padding-bottom: 15px;
    }
    .profileRate {
        margin-top: 15px;
    }
}

.backButton {
    margin: auto;
    padding: 20px 0;
    grid-column: 2/2;
}

.profileName, .profileOccupation {
    color: silver;
    font-size: 1.8rem;
    font-style: italic;
    grid-column: 1/1;
}

.profileOccupation {
    font-size: 1rem;
}

.profileImage {
    margin: auto;
    width: 100%;
    height: auto;
    border: 1px solid #2d79ab;
    grid-column: 3/3;
}

.profileRate, .profileTime {
    padding: 6px;
    color: #2d79ab;
    font-size: 1.3rem;
    grid-column: 3/3;
}

/* figure out how to add in descriptions, maybe via markdown? */

/* .profileDescription {
    text-indent: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
    margin: 50px 0;
} */