.container {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(48, 47, 47, 0.747);
    border: 2px solid #2d79ab;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.container h1, .container h3, .container p, .container img, .container h4 {
    animation: fadein .7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 900px) {
    .container a:hover {
        color: #2d79ab;
        transition: .3s;
    }
}

.container p {
    margin: 25px 0;
}

.container img {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    filter: brightness(80%)
}

@media screen and (max-width: 425px) {
    .container h3 {
        line-height: 50px;
    }
}