.container {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(48, 47, 47, 0.747);
    border: 2px solid #2d79ab;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.container h1, .container h3, .container p, .container img, .container h4 {
    animation: fadein .7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container h1 {
    color: #2d79ab;
    font-size: 2rem;
}

.container h3 {
    color: #aaa9a9;
    font-size: 1.3rem;
    font-style: italic;
}

.container p {
    color: #e0dcdc;
    font-size: 1rem;
    text-indent: 15px;
    line-height: 2rem;
    margin: 25px 0;
}

.container h4 {
    margin: auto;
    padding-bottom: 20px;
    color: #e0dcdc;
}

.container img {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0;
    filter: brightness(80%)
}

.contactLink:hover {
    color: #2d79ab;
    transition: .3s;
}