.container {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(48, 47, 47, 0.747);
    border: 2px solid #2d79ab;
    flex: 1;
}

.container h1 {
    color: #2d79ab;
    font-size: 2rem;
}

.container h3 {
    color: #2d79ab;
}