@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto";
    background-image: url("/images/backdrop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullBody {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

/* shared styling for navbar elements in header and footer components */

nav {
    top: 0;
    left: 0;
    margin: 0!;
    display: flex;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    text-decoration: none;
}

@media screen and (min-width: 1500px) {
    html, body {
        font-size: 1.5rem;
    }
}

/* shared styling for pages, to be overwritten by the module.css files */

h1 {
    color: #2d79ab;
    font-size: 2rem;
}

h3 {
    color: #aaa9a9;
    font-size: 1.3rem;
    font-style: italic;
}

h4 {
    margin: auto;
    padding-bottom: 20px;
    color: #e0dcdc;
}

p {
    color: #e0dcdc;
    font-size: 1rem;
    text-indent: 15px;
    line-height: 2rem;
    margin: 50px 0;
}

@media screen and (max-width: 425px) {
    p {
        text-indent: 0;
    }
}

@media screen and (min-width: 1500px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}