@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto";
    background-image: url("/images/backdrop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

#fullBody {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/* shared styling for navbar elements in header and footer components */

nav {
    top: 0;
    left: 0;
    margin: 0!;
    display: flex;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    text-decoration: none;
}