@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto"
}

* {
    box-sizing: border-box;
}

a {
    color: #033670;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

/* shared styling for navbar elements in header and footer components */

nav {
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0!;
    display: flex;
    background: teal;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    text-decoration: none;
}